<!DOCTYPE html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/master}">
<head>
  <title>Submit new proposal - Proposalkeeper</title>
</head>
<body>
<div class="ui container" layout:fragment="menu">
  <div class="ui large fixed top menu">
    <div class="ui container">
      <a href="/" class="item">Home</a>
      <a href="/proposals" class="active item">Proposals</a>
    </div>
  </div>
</div>

<div class="page-content" layout:fragment="content">
  <div class="ui container">
    <div class="ui breadcrumb">
      <a href="/" class="section">Home</a>
      <div class="divider">/</div>
      <a href="/proposals" class="section">Proposals</a>
      <div class="divider">/</div>
      <div class="active section">Submit proposal</div>
    </div>

    <h1 class="huge header">Submit new proposal</h1>

    <form action="/proposals" method="post" class="ui form" th:object="${submission}">
      <div class="field" th:classappend="${#fields.hasErrors('sessionTitle')} ? 'error'">
        <label for="sessionTitle">Session Title</label>
        <input type="text" id="sessionTitle" th:field="*{sessionTitle}">
      </div>
      <p th:each="err: ${#fields.errors('sessionTitle')}" th:text="${err}" class="ui error"></p>
      <div class="field" th:classappend="${#fields.hasErrors('sessionAbstract')} ? 'error'">
        <label for="sessionAbstract">Session Abstract</label>
        <textarea id="sessionAbstract" th:field="*{sessionAbstract}"></textarea>
      </div>
      <p th:each="err: ${#fields.errors('sessionAbstract')}" th:text="${err}" class="ui error"></p>
      <button type="submit" class="ui primary button">Submit proposal</button>
    </form>
  </div>
</div>
</body>
</html>
