<!DOCTYPE html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/master}">
<head>
  <title>Proposals - Proposalkeeper</title>
</head>
<body>
<div class="ui container" layout:fragment="menu">
  <div class="ui large fixed top menu">
    <div class="ui container">
      <a href="/" class="item">Home</a>
      <a href="/proposals" class="active item">Proposals</a>
    </div>
  </div>
</div>

<div class="page-content" layout:fragment="content">
  <div class="ui container">
    <div class="ui breadcrumb">
      <a href="/" class="section">Home</a>
      <div class="divider">/</div>
      <div class="active section">Proposals</div>
    </div>
    <h1 class="huge header">Proposals</h1>

    <div class="ui secondary pointing menu">
      <a href="/proposals" class="item">All proposals</a>
      <a href="/proposals/submitted" class="active item">My proposals</a>
      <a href="/proposals/new" class="right item">Submit new proposal</a>
    </div>

    <div class="ui items">
      <div class="item" th:each="proposal : ${proposals}">
        <div class="content">
          <div class="header" th:text="${proposal.title}"></div>
          <div class="description">
            <p th:text="${proposal.description}"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</body>
</html>
