<!DOCTYPE html >

<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title>Home - Proposalkeeper</title>
  <link rel="stylesheet" href="/semantic.min.css">
  <link rel="stylesheet" href="/site.css">
</head>
<body class="pushable">
  <div class="ui large top fixed menu transition hidden">
    <a href="/" class="active item">Home</a>
    <a href="/proposals" class="item">Proposals</a>
  </div>
  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
      <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
          <a href="/" class="active item">Home</a>
          <a href="/proposals" class="item">Proposals</a>
          <div class="right item">
            <a class="ui inverted button" href="/account/login" sec:authorize="isAnonymous()">Sign in</a>
            <a class="ui inverted button" href="/account/register" sec:authorize="isAnonymous()">Register</a>
            <a class="ui inverted button" href="/account/logout" sec:authorize="isAuthenticated()">Sign out</a>
          </div>
        </div>
      </div>
      <div class="ui text container">
        <h1 class="ui inverted header">Proposalkeeper</h1>
        <h2>Submit your proposals now.</h2>
        <a class="ui huge primary button" href="/proposals/new">
          Get started <i class="right arrow icon"></i>
        </a>
      </div>
    </div>
    <div class="ui vertical stripe segment">
      <div class="ui top aligned stackable grid container">
        <div class="row">
          <div class="eight wide column">
            <h3 class="ui header">About</h3>
            <p>This demo application demonstrates how you can build a Java application using Spring boot
              and monitor it using Application Insights. </p>
            <p>Although it's not fit for production use, you can always take a peek at how I made this
              app and use the ideas in your own application.</p>
          </div>
          <div class="six wide right floated column">
            <h3 class="ui header">Get the code</h3>
            <p>You can download the code from <a href="https://github.com/wmeints/app-insights-demo">Github.</a></p>
            <p>Please feel free to post pull requests to improve this app. If you have any problems, create
            an issue and I will help whenever I can.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/jquery-3.1.1.min.js"></script>
  <script src="/semantic.min.js"></script>
</body>
</html>
